.contact > img {
    width: 40%;
    float: right;
    margin: 4em 0;
    opacity: 0.9;
    box-shadow: 0.5em 0.5em 0.3em #00000055;
    transition: 0.25s;
}

.contact > img:hover {
    opacity: 0.6;
}

.contact form {
    margin: 2.2em 1em;
}

.principal {
    margin: 0.5em 0;
}

.principal label {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    width: 70%;
}

.principal input, 
.principal textarea {
    width: 100%;
    height: 2.5em;
    display: block;
    margin: 0.3em 0 1.5em 0;
    padding: 0.45em 0.7em;
    box-sizing: border-box;
    font-size: 0.6em;
    font-family: Montserrat, sans-serif;
}

.principal textarea {
    height: 9.5em;
}

.radio,
.select,
.checkbox {
    margin: 0.5em 0 1.5em 0;
}

.radio legend,
.select legend,
.checkbox label {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0.35em 0;
}

.radio label {
    cursor: pointer;
    display: block;
    width: 8em;
    line-height: 1.5em;
    font-size: 0.9em;
}

.select select {
    margin-left: 0.5em;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
}

.contact [type=submit] {
    width: 42.2%;
    height: 3em;
    margin: 1em 0;
    background-color: orange;
    transition: 0.5s;
    border: 0.1em solid rgba(0, 0, 0, 0.3);
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.3em;
}

.contact [type=submit]:hover {
    background-color: darkorange;
    transform: scale(1.015);
}

.contact [type=submit]:active {
    opacity: 0.75;
}

.contact > table {
    position: relative;
    left: 67%;
    bottom: 7em;
    margin: -4.3em 0;
    background-color: white;
}

.contact td,
.contact th {
    border: 1px solid black;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: 500;
}

.contact th {
    background-color: #00000088;
    font-weight: 600;
    color: white
}

@media screen and (max-width: 800px) {
    .contact > table {
        position: static;
        margin: 2.2em auto;
    }
}

@media screen and (max-width: 620px) {
    .contact > img {
        display: block;
        float: none;
        width: 70%;
        margin: 1em auto; 
        align-self: center;
    }

    .principal > label, .contact [type=submit] {
        width: 100%;
    }
}