@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ---------- General ---------- */

body {
    background: linear-gradient(75deg ,#EEEEEE, #FEFEFE, #EEEEEE);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

section:not(.main-title),
h1:not(:has(a)) {
    animation: fadein 2s;
}

.container{
    margin: 0 auto;
    max-width: 940px;
    padding: 1em;
}

.line {
    background-color: lightgray;
    height: 2px;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

/* ---------- Header ---------- */

header {
    position: relative;
}

header ul {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 1em;
    cursor: default;
}

header li {
    display: inline;
    margin: 0 0.8em;
}

header a {
    color: black;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.1s;
}

header a:hover {
    color: gray;
}

header a:active {
    color: rgb(179, 176, 176);
}

/* ---------- Main ---------- */

.main-title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
    background: linear-gradient(90deg, #DDDDDD,#EFEFEF, #DDDDDD);
}

main h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 0.5em 0 1em 0;
}

main p {
    font-size: 1.1em;
    margin: 1.1em 0;
    line-height: 1.3em;
    text-align: justify;
}

/* ---------- Footer ---------- */

footer {
    background: url(../img/bg.jpg);
    text-align: center;
    padding: 2em 0;
}

footer p {
    color: white;
    font-size: 0.8em;
    margin: 1em;
}

footer a {
    text-decoration: none;
}